@import 'tailwindcss';

:root {
  --background: #050505;
  --foreground: #fbfbfb;
  --subText: #dcdcdc;
  --goldColor: #a79279;
  --footer: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-goldColor: var(--goldColor);
  --color-footer: var(--footer);
  --color-subText: var(--subText);

  --font-sans: var(--font-openSans);
  --font-fair: var(--font-playfair);
  --font-lux: var(--font-luxurious);

  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
  --text-40: 40px;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-openSans), sans-serif;
  }
}
